---
Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  bugprone-*,
  cert-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  misc-unused-parameters,
  misc-redundant-expression,
  misc-misleading-identifier,
WarningsAsErrors: '*'
HeaderFilterRegex: '^$'
FormatStyle: file
